* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: black;
}

canvas {
    background-color: white;
    margin: 1em;
}

ul {
    list-style-type: none;
}

nav {
    margin: .1em 0 .3em;
}

label {
    color: white;
    display: inline-block;
}

.input-container {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    width: 90%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: .5em .75em;
}

.dropdown * {
    width: 100%;
    margin: .1em 0;
}

.dropdown-input {
    width: 50%;
}

#main-container {
    display: flex;
    flex-direction: row;
    border: .5em solid #21451c;
    border-radius: .5em;
    width: fit-content;
}

#bodies-container {
    display: inline-block;
    width: fit-content;
}

#bodies-subform {
    top: 0;
    left: 100%;
    width: 200%;
}

#measure-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: max-content;
}

#measure-grid > * {
    margin: .2em 1.5em;
}

#canvas-container {
    display: inline-block;
    background-color: black;
}

#info {
    border-left: .5em solid #21451c;
    padding: 1em 0;
    color: white;
}

#plot {
    color: white;
    margin: 1em;
    
}